# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# JUCE exports & stuffs
.DS_Store
Builds/VisualStudio2019/x64
Builds/VisualStudio2019/x86
Builds/VisualStudio2019/.vs
Builds/VisualStudio2022/x64
Builds/VisualStudio2022/x86
Builds/VisualStudio2022/.vs

# Plugins
*.dll 
# confused! vst2 is dll! ; wtf, Steinberg?!

.fake
.ionide